.header {
    @include roboto;
    background: $color-primary;
    height: 10rem;
    width: 100%;
    display: flex;
    padding-left: 2rem;
}

//logo
.header--logo {
    height: 3.6rem;
    width: 15rem;
    margin-top: 2.5rem;
    padding-top: .1rem;
    @include respond(iphone5){
        margin-left: 1rem;
    }
}

//burger
.header--burger {
    margin-left: auto;
    margin-top: 3.75rem;
    width: 3rem;
    height: 2rem;
    @include respond(tablet){
        display: none;
    }
    span{
        display: flex;
        margin: .5rem auto .1rem;
        padding-top: .1rem;
        background-color: $color-white;
        opacity: 0.7;
        height: .2rem;
        width: 3rem;
    }     
}


// Credentials
.credentials {
    @include respond(tablet){
        display: flex;
        padding-top: 1.3rem;
        padding-right: 3rem;
        padding-left: 2rem;
        margin-top: 2.5rem;
        margin-left: auto;
        font-size: 2rem;
        @include respond(phone) {
            display: none;
        }
        a {
            text-decoration: none;
            color: $color-fourthly;
            margin-right: 2rem;
            @include roboto;
        }

    }
   
}