.header {
    @include roboto;
    background: $color-fourthly;
    height: 5.5rem;
    width: 100%;
    display: flex;
}
.header--logo {
    height: 3.6rem;
    width: 15rem;
    padding-top: 1.8rem;
    @include respond(iphone5){
        margin-left: 1rem;
    }
    margin-left: 2rem;
}
.header--burger {
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 1.7rem;
    width: 3rem;
    height: 2rem;
    @include respond(tablet){
        display: none;
    }
    span{
        display: flex;
        margin: .3rem auto .1rem;
        padding-top: .1rem;
        background-color: $color-white;
        opacity: 0.7;
        height: .1rem;
        width: 2rem;
    }     
}
.credentials {
    display: flex;
    margin-left: auto;
    border: $default-border;

    color: $color-white;
    font-size: 1.5rem;
}