.firstSection {
    @include roboto;
    background: $color-fourthly;
    width: 100%;
    height: 102.4rem;
    display: flex;
   
}

// left-side
.firstSection--leftSide {
    width: 15%;
    background: $color-white;
    display: flex;
    margin-right: auto;
    .menuBar {
        margin-top: rem;   
        justify-content: center;
        li {
            list-style-type: none;
        }
        ul li a {
            display: flex;
            justify-content: flex-start;
            font-size: 4rem;
            margin-top: 4rem;
            color: $color-black;
            letter-spacing: .1rem;
            text-decoration: none;
        }
    }

}
.firstSection--rightSide {
    width: 85%;
    background-color: red;
    display: flex;
    margin-left: auto;
    @include cabin;
    .firstSection--rightSide--container {
        margin-left: 10rem;
        padding-left: 10rem;
        font-size: 3rem;
        width: 85%;
        border: 1rem solid black;
        h1 {
            text-align: center;
        }
    }
}
